{% extends "base.html" %}
{% block title %}Reset Password | Campus Volunteer{% endblock title %}

{% block content %}
<div class="page">
  <div class="container">

    <section class="card">
      <h2>Reset Password</h2>
      <div class="divider"></div>

      {% if error %}
      <div class="error">
        {{ error }}
      </div>
      {% endif %}

      <form method="post" autocomplete="off">
        {% csrf_token %}

        <div class="field">
          <label class="label">Email Address *</label>
          <input type="email" name="email" value="{{ request.POST.email }}"  placeholder="Enter your email" required>
        </div>

        <div class="field">
          <label class="label">Verification Code *</label>
          <input type="text" name="code" placeholder="Enter verification code" required>
        </div>

        <div class="field">
          <label class="label">New Password *</label>
          <input type="password" name="password1" placeholder="Enter new password" required>
        </div>

        <div class="field">
          <label class="label">Confirm Password *</label>
          <input type="password" name="password2" placeholder="Confirm new password" required>
        </div>

        <button class="btn" type="submit">Reset Password</button>

        <div class="links">
          <a href="{% url 'login' %}">Back to login</a>
        </div>

      </form>
    </section>

  </div>
</div>
{% endblock %}