{% extends "base.html" %}

{% block title %}Activity Details | Campus Volunteer{% endblock %}

{% block content %}

<h1 class="hero-title">Activity Details</h1>

<section class="detail-card">

  <h2 class="detail-title">{{ activity.title }}</h2>
  <div class="divider"></div>

  <div class="detail-grid">

    <div class="detail-item">
      <div class="detail-label">Activity Title</div>
      <div class="detail-value">{{ activity.title }}</div>
    </div>

    <div class="detail-item">
      <div class="detail-label">Location</div>
      <div class="detail-value">{{ activity.location }}</div>
    </div>

    <div class="detail-item">
      <div class="detail-label">Start Datetime</div>
      <div class="detail-value">
        {{ activity.start_datetime|date:"d M Y" }}
        {{ activity.start_datetime|time:"H:i" }}
      </div>
    </div>
    
    <div class="detail-item">
      <div class="detail-label">End Datetime</div>
      <div class="detail-value">
        {{ activity.end_datetime|date:"d M Y" }}
        {{ activity.end_datetime|time:"H:i" }}
      </div>
    </div>

    <div class="detail-item">
      <div class="detail-label">Volunteers</div>
      <div class="detail-value">
        {{ approved_count }} / {{ activity.max_volunteers }}
      </div>
    </div>

    <div class="detail-item detail-item-full">
      <div class="detail-label">Description</div>
      <div class="detail-value">
        {{ activity.description }}
      </div>
    </div>

  </div>

  <div class="detail-actions">

    {% if is_full %}
    
    <button class="btn disabled-btn" disabled>
      Activity Full
    </button>
    
    {% elif already_applied %}
    
    <button class="btn outline-btn disabled-btn" disabled>
      Already Applied
    </button>
    
    {% else %}
    
    <a class="btn outline-btn"
     href="#"
     onclick="openModal('Are you sure you want to apply for this activity?', '{% url 'activities:apply' activity.id %}'); return false;">
     Apply
    </a>
    
    {% endif %}
    
    <a class="btn" href="{% url 'activities:activity_list' %}">
      Close
    </a>
    
  </div>

</section>

{% endblock %}