  <!DOCTYPE html>
  {% load static %}
  <html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Campus Volunteer{% endblock %}</title>

      <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

    <div id="confirmModal" class="modal">
      <div class="modal-box">

        <p id="modalText">Are you sure?</p>

        <div class="modal-actions">
          <button class="btn outline-btn small-btn" type="button" onclick="closeModal()">
            Cancel
          </button>

          <button class="btn small-btn" type="button" onclick="closeModal()">
            Confirm
          </button>
        </div>

      </div>
    </div>

    <script>
    function openModal(message){
      document.getElementById("modalText").innerText = message;
      document.getElementById("confirmModal").classList.add("show");
    }

    function closeModal(){
      document.getElementById("confirmModal").classList.remove("show");
    }
    </script>

  <body>

  <header class="topbar">
{% if request.path != '/accounts/login/' and request.path != '/accounts/register/' %}
      <div class="topbar-left">
          {% if request.path|slice:":10" == "/organiser" %}
            <a class="brand" href="{% url 'organiser:applications' %}">
                Campus Volunteer
            </a>
            {% else %}
            <a class="brand" href="{% url 'activities:dashboard' %}">
                Campus Volunteer
            </a>
            {% endif %}

          {% if request.path|slice:":10" == "/organiser" %}
          <nav class="tabs organiser-tabs">
          <a class="tab" href="{% url 'organiser:applications' %}">Applications</a>
          <a class="tab" href="{% url 'organiser:manage_activities' %}">Manage Activities</a>
          <a class="tab" href="{% url 'organiser:create_activity' %}">Create Activity</a>
            </nav>
          {% else %}
                    <nav class="tabs">

              <a class="tab"
                 href="{% url 'activities:dashboard' %}">
                 Dashboard
              </a>

              <a class="tab"
                 href="{% url 'activities:activity_list' %}">
                 Activities
              </a>

              <a class="tab"
                 href="{% url 'activities:my_applications' %}">
                 My Applications
              </a>

          </nav>
          {% endif %}

      </div>


      <div class="topbar-right">

          <div class="user-menu">

              <button class="user-btn" type="button">
                  Account ▾
              </button>
              <div class="user-dropdown">
                  <a href="{% url 'activities:profile' %}">
                      Profile
                  </a>
                  <a href="{% url 'password_reset' %}">
                      Reset Password
                  </a>

                  <div class="dropdown-divider"></div>

                  <a href="{% url 'activities:logout' %}">
                      Logout
                  </a>

              </div>

          </div>

      </div>
       {% endif %}

  </header>


  <main class="page">

    <div class="container">

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </div>

</main>

  </body>

  </html>